header{
    margin: auto;
    padding: 2%;
    width: 86%;
    text-align: center;
    background-color: rgb(64, 158, 125);
}

header h1 {
    font-family: 'Alike Angular';
    color: white;
    text-align: center;
}

nav {
    background-color: #243633;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: auto;
    width: 80%;
    font-size: 100%;
    font-family:'Abhaya Libre';
    border-style: none;
}

.dropbtn{
    display: inline-block;
    text-align: center;
    padding: 1%;
    background-color: #04AA6D; 
    font-size: 100%;
    font-family:'Abhaya Libre';
    border-style: none;  
}

.ListinhaMenu{
    padding: 1%;
    text-decoration: none;
    display: inline-block;
}

.ListinhaMenu li {
    display: inline-block;
}

.ListinhaMenu a{
    display: block;
    color:rgba(89, 226, 208, 0.973);
    background-color: transparent;
    text-decoration: none;
}

.ListinhaMenu a:visited{
    color:rgba(34, 133, 158, 0.877);
    background-color: transparent;
    text-decoration: none;
}

.ListinhaMenu a:hover{
    color:rgba(57, 126, 88, 0.973);
    background-color: none;
    text-decoration: none;
    background-color: #1c2725;
}

.ListinhaMenu a:active{
    color:rgb(76, 153, 149);
    background-color: transparent;
    text-decoration: none;
}

body {
    background-image: url('../Images/EquipeSemNome.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.Button { 
    background-color: rgba(68, 104, 91, 0.37);
    text-decoration: none;
    display: flex;
    justify-content: center;  
    animation: mymove 5s ;
}

@keyframes mymove {
    50% {outline-width: 50px;}
}

.Button > div {
    margin: 2%;
    text-align: center;
}

.Button :hover {
    margin: 2%;
    height: 2%;
}

main h2 {
    font-family: 'Alike Angular';
    text-align: center;
    background-color: rgb(57, 194, 176);
    color:rgb(56, 53, 53);    
}

main p {
    font-family:'Abhaya Libre';
    font-size: 110%;
    color: white;
    text-align: justify;
}

main a:link {
    color:rgba(89, 226, 208, 0.973);
    background-color: transparent;
    text-decoration: none;
}

main a:visited {
    color:rgba(40, 202, 175, 0.877);
    background-color: transparent;
    text-decoration: none;
}

main a:hover{
    color:rgba(96, 123, 155, 0.973);
    background-color: transparent;
    text-decoration: underline;
}

main a:active{
    color:aquamarine;
    background-color: transparent;
    text-decoration: underline;
}

main{
    text-align: justify;
    width: 75%;
    background-color:rgba(46, 80, 82, 0.945);
    margin: auto;
    padding: 30px;
}

table, th, td{
    color: rgb(63, 62, 62);
    border: 1px;
    border-collapse: collapse;
    text-align: center;
    font-family:'Abhaya Libre';
    font-size: 110%;
}

th, td{
    background-color: rgb(19, 155, 160);
    border-style: solid;
    border-color: rgb(11, 83, 77);
    padding: 15px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

main ul, li{
    margin-left: 10px;
}

footer h2 {
    font-family: 'Alike Angular';
    text-align: center;
    background-color: rgb(57, 194, 176);
    color:rgb(56, 53, 53); 
}

.flex-container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

#Texto {
    background-color:rgb(59, 129, 96);
    padding-left: 2.9%;
    padding-right: 2.9%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 1.5%;
}

h3 {
    font-family: 'Alike Angular';;
    color: rgb(49, 53, 56);
    text-align: center;
    display: inline;
    background-color: rgb(100, 145, 130);
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    column-gap: 2%;
    grid-template-columns: auto auto;
    background-color: #348686;
    border-radius: 0.5%;
    padding: 2%;
}

.grid-item {
    background-color: rgba(70, 146, 133, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 8%;
    border-radius: 1.2%;
}

.grid-item h3 {
    background-color:#226868de;
    color: azure;
}

.Personagens {
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-color: #4c8874;
    width: 20%;
}

@media screen and (max-width: 500px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .ListinhaMenu {
        padding: 0.5%;
    }
    .grid-container {
        grid-template-columns: auto;
    }

    .dropbtn {
        color: black;
        padding: 16px;
        font-size: 16px;
        display: block;
        text-align: center;
        background-color: #04AA6D; 
        font-size: 100%;
        font-family:'Abhaya Libre';
        border-style: none;  

      }
      
      nav {
        display: block;
        overflow: visible;
      }
      
      .ListinhaMenu {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .ListinhaMenu li{
        position: relative;
        display: block;
      }
      
      .ListinhaMenu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .ListinhaMenu a:hover {background-color: #f1f1f1}
      
      nav:hover .ListinhaMenu {
        display: inline-block;
      }
      
      nav:hover .dropbtn {
        background-color: #243633;
      }
}

@media screen and (max-width: 700px) {
    .img img {
        width: 100%;
        height: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
}

@media screen and (max-width: 800px) {
    .Button {
        display: flex;
        flex-direction: column;
    }
    .Button img {
        width: 90%;
        height: auto;
    }

    body img {
        background-size: contain;
    }
}

@media screen and (min-width: 1000px) {
    main {
        float: right;
    }
    
    nav { 
        width: 20%;
        float: left;
    }

    .ListinhaMenu a {
        display: block;
    }

    .ListinhaMenu a:hover {
        display: block;
        background-color: #1c2725;
    }

    .ListinhaMenu li{
        display: block;
        padding: 8%;
        background-color: none;
    }

    .flex-container {
        top: 33%;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    .dropbtn {
        padding: 10%;
    }
}
